@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="border-0">

    <div class="iphonex">

        <div class="notch"></div>

        <div class="calc-screen-primary">20*93/98</div>
        <div class="calc-screen-secondary">= 18.979591</div>

        <div class="grid-container">
            <button class="special-button" id="e">e</button>
            <button class="special-button" id="sin">sin</button>
            <button class="special-button" id="cos">cos</button>
            <button class="special-button" id="log">log</button>
            <button class="calc-button" id="ac">AC</button>
            <button class="calc-button" id="del">⌫</button>
            <button class="op-button" id="div">/</button>
            <button class="op-button" id="mul">*</button>
            <button class="num-button">7</button>
            <button class="num-button">8</button>
            <button class="num-button">9</button>
            <button class="op-button">-</button>
            <button class="num-button">4</button>
            <button class="num-button">5</button>
            <button class="num-button">6</button>
            <button class="op-button">+</button>
            <button class="num-button">1</button>
            <button class="num-button">2</button>
            <button class="num-button">3</button>
        </div>
        <br />
        <button class="zero-button">0</button>
        <button class="dot-button">.</button>
        <button class="coma-button">,</button>
        <button class="eq-button">=</button>

    </div>

    <div class="bar">
        <div class="bar-img">
            <a href="https://github.com/Akshay-Vs" target="_blank"><img src="https://pngimg.com/uploads/github/github_PNG83.png" /></a>
        </div>
        <div class="bar-img">
            <a href="https://www.instagram.com/akshay._.vs__/" target="_blank"> <img src="https://180dc.org/wp-content/uploads/2014/04/instagram-Logo-PNG-Transparent-Background-download.png" /></a>
        </div>
        <div class="bar-img">
            <a href="https://twitter.com/Akshay_vs__" target="_blank"><img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-vector-png-clipart-1.png" /></a>
        </div>
        <div class="bar-img">
            <a href="https://www.codegrepper.com/profile/akshay-vs" target="_blank"> <img src="https://assets.production.linktr.ee/7402b4d8866a6e7c26b439b15708623610cff306/images/logo_trees.svg" /> </a>
        </div>
        <div class="bar-img">
            <a href="https://www.linkedin.com/in/akshay-vs-653667231/" target="_blank"> <img src="https://www.freeiconspng.com/thumbs/linkedin-logo-png/linkedin-logo-3.png" /></a>
        </div>
    </div>
</div>