@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="border-0" onselectstart="return false">

    <div class="iphonex">

        <div class="notch"></div>

        <div class="calc-screen-primary" onselectstart="return true">20*93/98</div>
        <div class="calc-screen-secondary" onselectstart="return true">= 18.979591</div>

        <div class="grid-container">
            <div class="special-button" id="e">e</div>
            <div class="special-button" id="sin">sin</div>
            <div class="special-button" id="cos">cos</div>
            <div class="special-button" id="log">log</div>
            <div class="calc-button" id="ac">AC</div>
            <div class="calc-button" id="del">⌫</div>
            <div class="op-button" id="div">/</div>
            <div class="op-button" id="mul">*</div>
            <div class="num-button">7</div>
            <div class="num-button">8</div>
            <div class="num-button">9</div>
            <div class="op-button">-</div>
            <div class="num-button">4</div>
            <div class="num-button">5</div>
            <div class="num-button">6</div>
            <div class="op-button">+</div>
            <div class="num-button">1</div>
            <div class="num-button">2</div>
            <div class="num-button">3</div>
        </div>
        
        <div class="btn-container">
            <div class="zero-button">0</div>
            <div class="dot-button">.</div>
            <div class="coma-button">,</div>
            <div class="eq-button">=</div>
        </div>
    </div>

    <div class="bar">
        <div class="bar-img">
            <a href="https://github.com/Akshay-Vs" target="_blank"><img src="https://pngimg.com/uploads/github/github_PNG83.png" /></a>
        </div>
        <div class="bar-img">
            <a href="https://www.instagram.com/akshay._.vs__/" target="_blank"> <img src="https://180dc.org/wp-content/uploads/2014/04/instagram-Logo-PNG-Transparent-Background-download.png" /></a>
        </div>
        <div class="bar-img">
            <a href="https://twitter.com/Akshay_vs__" target="_blank"><img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-vector-png-clipart-1.png" /></a>
        </div>
        <div class="bar-img">
            <a href="https://linktr.ee/akshay_vs" target="_blank"> <img src="https://assets.production.linktr.ee/7402b4d8866a6e7c26b439b15708623610cff306/images/logo_trees.svg" /> </a>
        </div>
        <div class="bar-img">
            <a href="https://www.codegrepper.com/profile/akshay-vs" target="_blank"> <img src="https://www.codegrepper.com/images/logo_colors_small.png" /> </a>
        </div>
        <div class="bar-img">
            <a href="https://www.linkedin.com/in/akshay-vs-653667231/" target="_blank"> <img src="https://www.freeiconspng.com/thumbs/linkedin-logo-png/linkedin-logo-3.png" /></a>
        </div>
    </div>
</div>