@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Calculator.Models.CalcModel>
@{
    string operation = "hello world";
}

<div class="border-0" onselectstart="return false">

    <div class="iphonex">

        <div class="notch"></div>

        <div class="calc-screen-primary" onselectstart="return true">
            primary
        </div>
        <div class="calc-screen-secondary" onselectstart="return true">= 18.979591</div>



        <div class="grid-container">
            <button class="special-button" onclick="@operation +='sin'">sin</button>
            <button class="special-button" onclick="@operation +='cos'">cos</button>
            <div class="special-button" onclick="@operation +='cos'">tan</div>
            <div class="special-button" onclick="@operation +='cos'">log</div>
            <div class="calc-button" onclick="@operation='\0'">AC</div>
            <div class="calc-button" id="del" value="del">⌫</div>
            <div class="op-button" id="div" value="div">/</div>
            <div class="op-button" id="mul" value="mul">*</div>

            <div class="num-button" value="7" asp-action="NumClick">7</div>

            <div class="num-button" value="8">8</div>
            <div class="num-button" value="9">9</div>
            <div class="op-button" value="sub">-</div>
            <div class="num-button" value="4">4</div>
            <div class="num-button" value="5">5</div>
            <div class="num-button" value="6">6</div>
            <div class="op-button" value="add">+</div>
            <div class="num-button" value="1">1</div>
            <div class="num-button" value="2">2</div>
            <div class="num-button" value="3">3</div>
        </div>

        <div class="btn-container">
            <div class="zero-button" value="0">0</div>
            <div class="dot-button" value="dot">.</div>
            <div class="coma-button" value="coma">,</div>
            <button class="eq-button" onclick="@using (StreamWriter writer = new StreamWriter("log.txt", true))writer.WriteLine(operation);">=</button>
        </div>


    </div>

    <div class="bar">
        <div class="bar-img">
            <a href="https://github.com/Akshay-Vs" target="_blank"><img src="https://pngimg.com/uploads/github/github_PNG83.png" /></a>
        </div>
        <div class="bar-img">
            <a href="https://www.instagram.com/akshay._.vs__/" target="_blank"> <img src="https://180dc.org/wp-content/uploads/2014/04/instagram-Logo-PNG-Transparent-Background-download.png" /></a>
        </div>
        <div class="bar-img">
            <a href="https://twitter.com/Akshay_vs__" target="_blank"><img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-vector-png-clipart-1.png" /></a>
        </div>
        <div class="bar-img">
            <a href="https://linktr.ee/akshay_vs" target="_blank"> <img src="https://assets.production.linktr.ee/7402b4d8866a6e7c26b439b15708623610cff306/images/logo_trees.svg" /> </a>
        </div>
        <div class="bar-img">
            <a href="https://www.codegrepper.com/profile/akshay-vs" target="_blank"> <img src="https://www.codegrepper.com/images/logo_colors_small.png" /> </a>
        </div>
        <div class="bar-img">
            <a href="https://www.linkedin.com/in/akshay-vs-653667231/" target="_blank"> <img src="https://www.freeiconspng.com/thumbs/linkedin-logo-png/linkedin-logo-3.png" /></a>
        </div>
    </div>
</div>